<!DOCTYPE html>
<html class="no-js">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" href="../images/favicon.png">
        <title>Ivan's Portfolio</title>
        <meta name="description" content="Ivan's Web Dev Portfolio">
        <meta name="keywords" content="Web development services, Custom website design, Responsive web design, 
        Front-end development, Back-end development, E-commerce development, CMS (Content Management System),
        Mobile app development, UI/UX design, WordPress development, PHP development, JavaScript development,
        HTML/CSS coding, SEO-friendly websites, Website maintenance, Cross-browser compatibility, 
        Website optimization, User-friendly interfaces, Scalable web solutions, Modern web technologies, 
        Interactive web design, Professional web development, Secure web applications, API integration, 
        Web performance optimization.">
        <meta name="author" content="Ivan Chew">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      
        <!-- theme meta -->
        <meta name="theme-name" content="timer" />

        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="plugins/ionicons/ionicons.min.css">
        <!-- animate css -->
        <link rel="stylesheet" href="plugins/animate-css/animate.css">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="plugins/slider/slider.css">
        <!-- slick slider -->
        <link rel="stylesheet" href="plugins/slick/slick.css">
        <!-- Fancybox -->
        <link rel="stylesheet" href="plugins/facncybox/jquery.fancybox.css">
        <!-- hover -->
        <link rel="stylesheet" href="plugins/hover/hover-min.css">
        <!-- template main css file -->
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
