            <!--
            ==================================================
            Footer Section Start
            ================================================== -->
            <footer id="footer">
                <div class="container">
                    <div class="row content-justify-between">
                        <div class="col-md-8 col-12 text-center text-lg-left text-md-left">
                            <p class="copyright">Copyright: Design and Developed by Ivan Chew</p>
                        </div>
                        <div class="col-md-4 col-12">
                            <!-- Social Media -->
                            <ul class="social text-center text-md-right text-lg-right">
                                <li>
                                    <a href="https://www.linkedin.com/in/chewstory/" class="Linkedin">
                                        <i class="ion-social-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/trickstyle89" class="Linkedin">
                                        <i class="ion-social-github"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer> <!-- /#footer -->